@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

*{
    margin: 0;
    padding: 0%;
    font-family: "Inter", sans-serif;
}

body {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-user-drag: none;

    background-color: #080808;
}

.main {
    text-align: center;

    width: 330px;
    height: 450px;
    background-color: #0D0D0D;
    border: 1px solid #262626;
    border-radius: 11px;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.main .confirmation-image {
    pointer-events: none;
    
    width: 125px;
    height: 125px;

    position: relative;
    top: 12%;
}

.main .name {
    color: white;
    font-size: 25px;

    position: relative;
    top: 16%;
}

.main .continueBtn {
    background-color: #FFFFFF;
    font-weight: bold;
    font-size: 17px;
    font-family: Arial, sans-serif;

    line-height: 22px;
    height: 45px;
    width: 260px;
    
    color: #000000;
    border: none;
    border-radius: 11px;

    position: relative;
    top: 20%;
}

.continueBtn:active {
    background-color: #999999;
    color: #383838;
}

.main .confirmation-text {
    color: #BDBDBD;
    font-size: 16px;

    position: relative;
    top: 23%;
}

.main .by {
    color: #BDBDBD;
    font-size: 15px;

    position: relative;
    top: 30%;
}